@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #282D35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.container {
  max-height: 768px;
display: block;
}

.nav--logo_text, .nav-title {
  margin: 0;
}

.nav--icon {
  height: 40px;
margin-right: 7px;
}

.nav--logo_text {
margin-right: auto;
color: #61DAFB;
}

.nav-title {
  color: #DEEBF8;
  font-weight: 600;
  font-size: 22px;
}

main {
padding: 57px 27px;
color: white;
background-image: url(./images/reactjs-icon\ 2.png);
background-repeat: no-repeat;
background-position: right 75%;
  margin-left: 30%;
  width: auto;
}

.main--title {
  margin: 0;
  font-family: Inter;
  font-size: 39.06px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.953px;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}

